body,div,p,span{
	margin:0;padding:0;
}

#HangmanCtrl{
	width:100%;
	height:100%;
	position:absolute;
	background: #ffedc9; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #ffedc9 1%, #fff4e8 57%, #fefefd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#ffedc9), color-stop(57%,#fff4e8), color-stop(100%,#fefefd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #ffedc9 1%,#fff4e8 57%,#fefefd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #ffedc9 1%,#fff4e8 57%,#fefefd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #ffedc9 1%,#fff4e8 57%,#fefefd 100%); /* IE10+ */
	background: linear-gradient(45deg,  #ffedc9 1%,#fff4e8 57%,#fefefd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedc9', endColorstr='#fefefd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


div,p,span,button{
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.letter{
	font-size: 1.8em;
	padding:5px;
}

#usedCharacters{
	font-size: 1.2em;
	margin-top: 20px;
}
.usedChar{
	padding:8px;
}


.heart{
	padding:5px;
	margin-top: 10px;
}

#cover{
	width:100%;height:100%;
	background:rgba(255,255,255,0.8);
	position:absolute;
	z-index:3;
}

#newGameBtn{
	height:100px;width:90%;
	margin:0 auto;
	display:block;
	position:absolute;
	left:5%; top:75%;
	font-size: 1.6em;
}
.win, .lose{
	font-size: 30px;
	font-weight: bold;
	color: green;
	position:absolute;
	margin-top:30%;
	text-align: center;
	width:100%;
}
.win { color: green;}
.lose{ color: red; }


#inputContainer{
	margin-top: 8em;
}

#guessText{
	height: 35px;
	width: 140px;
	padding: 0 5px;
	font-size: 18px;
	border-radius: 10%;
	text-align: center;
}

#submitGuess{
	height:35px;
	font-size: 18px;
}

.error{
	color:red;
}

/*==============BEAR====================*/

.bear_5 {
	background: url('../images/Bear5.png');
}

.bear_4 {
	background: url('../images/Bear4.png');
}

.bear_3 {
	background: url('../images/Bear3.png');
}

.bear_2 {
	background: url('../images/Bear2.png');
}

.bear_1 {
	background: url('../images/Bear1.png');
}

.bear_0 {
	background: url('../images/Bear0.png');
}

.bear{
	width: 360px;
	height: 464px;
	background-size:360px 464px;
	background-repeat:no-repeat;
	display:inline-block;
	float:left;
}
